body {
    background-color: dodgerblue;
}
  
hr {
    background-color: transparent;
    margin: 1rem 0;
}
  
.is-yellow,
.is-yellow:hover,
.is-yellow:focus,
.is-yellow:active {
    color: yellow;
    background-color: dodgerblue;
    border-color: transparent;
} 
  
.ma {
    margin: auto !important;
}

.mb-1 {
    margin-bottom: 0.5rem !important;
}
  
.mb-4 {
    margin-bottom: 2rem !important;
}
  
.mt-4 {
    margin-top: 2rem !important;
}
